.wizard {
    margin: 50px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin-left: 100px;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 50px;
    height: 50px;
    line-height: 47px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 16%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    margin-left: 20px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 0px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.setup-position-one {
    margin-left: 80px
}

.setup-position-two {
    margin-left: 110px
}

.setup-position-three {
    margin-left: 110px
}

.setup-position-four {
    margin-left: 110px
}

.setup-position-five {
    margin-left: 125px
}

.setup-position-six {
    margin-left: 100px
}

.guide-heading-text {
    color: black;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 10%;
    }
    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 80%;
        margin-left: 90px;
        left: 0;
        right: 0;
        top: 55%;
        z-index: 1;
    }
}

@media( max-width : 648px ) {
    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 80%;
        margin-left: 90px;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }
}

@media( max-width : 586px ) {
    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 80%;
        margin-left: 50px;
        left: 0;
        right: 0;
        top: 58%;
        z-index: 1;
    }
}

@media( max-width : 1202px ) {
    .setup-position-one {
        margin-left: 60px
    }

    .setup-position-two {
        margin-left: 80px
    }

    .setup-position-three {
        margin-left: 80px
    }

    .setup-position-four {
        margin-left: 80px
    }

    .setup-position-five {
        margin-left: 90px
    }

    .setup-position-six {
        margin-left: 70px
    }
}

@media( max-width : 993px ) {
    .setup-position-one {
        margin-left: 45px
    }

    .setup-position-two {
        margin-left: 45px
    }

    .setup-position-three {
        margin-left: 40px
    }

    .setup-position-four {
        margin-left: 45px
    }

    .setup-position-five {
        margin-left: 60px
    }

    .setup-position-six {
        margin-left: 30px
    }
}

@media( max-width : 745px ) {
    .setup-position-one {
        margin-left: 40px
    }

    .setup-position-two {
        margin-left: 43px
    }

    .setup-position-three {
        margin-left: 40px
    }

    .setup-position-four {
        margin-left: 40px
    }

    .setup-position-five {
        margin-left: 50px
    }

    .setup-position-six {
        margin-left: 30px
    }
}

@media( max-width : 722px ) {
    .setup-position-one {
        margin-left: 37px
    }

    .setup-position-two {
        margin-left: 38px
    }

    .setup-position-three {
        margin-left: 40px
    }

    .setup-position-four {
        margin-left: 35px
    }

    .setup-position-five {
        margin-left: 50px
    }

    .setup-position-six {
        margin-left: 30px
    }
}

@media( max-width : 711px ) {
    .setup-position-one {
        margin-left: 35px
    }

    .setup-position-two {
        margin-left: 30px
    }

    .setup-position-three {
        margin-left: 30px
    }

    .setup-position-four {
        margin-left: 25px
    }

    .setup-position-five {
        margin-left: 40px
    }

    .setup-position-six {
        margin-left: 20px
    }
}

@media( max-width : 660px ) {
    .setup-position-one {
        margin-left: 35px
    }

    .setup-position-two {
        margin-left: 20px
    }

    .setup-position-three {
        margin-left: 20px
    }

    .setup-position-four {
        margin-left: 18px
    }

    .setup-position-five {
        margin-left: 35px
    }

    .setup-position-six {
        margin-left: 5px
    }
}

@media( max-width : 613px ) {
    .setup-position-one {
        margin-left: 30px;
        font-size: 12px;
    }

    .setup-position-two {
        margin-left: 30px;
        font-size: 12px;
    }

    .setup-position-three {
        margin-left: 30px;
        font-size: 12px;
    }

    .setup-position-four {
        margin-left: 25px;
        font-size: 12px;
    }

    .setup-position-five {
        margin-left: 35px;
        font-size: 12px;
    }

    .setup-position-six {
        margin-left: 20px;
        font-size: 12px;
    }
}

@media( max-width : 587px ) {
    .setup-position-one {
        margin-left: 5px;
        font-size: 12px;
    }

    .setup-position-two {
        margin-left: 17px;
        font-size: 12px;
    }

    .setup-position-three {
        margin-left: 18px;
        font-size: 12px;
    }

    .setup-position-four {
        margin-left: 18px;
        font-size: 12px;
    }

    .setup-position-five {
        margin-left: 25px;
        font-size: 12px;
    }

    .setup-position-six {
        margin-left: 10px;
        font-size: 12px;
    }
}

@media( max-width : 565px ) {
    .setup-position-one {
        margin-left: 0px;
        font-size: 11px;
    }

    .setup-position-two {
        margin-left: 18px;
        font-size: 11px;
    }

    .setup-position-three {
        margin-left: 15px;
        font-size: 11px;
    }

    .setup-position-four {
        margin-left: 15px;
        font-size: 11px;
    }

    .setup-position-five {
        margin-left: 22px;
        font-size: 11px;
    }

    .setup-position-six {
        margin-left: 8px;
        font-size: 11px;
    }
}

@media( max-width : 514px ) {
    .setup-position-one {
        margin-left: -3px;
        font-size: 11px;
    }

    .setup-position-two {
        margin-left: 15px;
        font-size: 11px;
    }

    .setup-position-three {
        margin-left: 8px;
        font-size: 11px;
    }

    .setup-position-four {
        margin-left: 15px;
        font-size: 11px;
    }

    .setup-position-five {
        margin-left: 23px;
        font-size: 11px;
    }

    .setup-position-six {
        margin-left: 5px;
        font-size: 11px;
    }
}


@media( max-width : 500px ) {
    .setup-position-one {
        margin-left: -3px;
        font-size: 11px;
    }

    .setup-position-two {
        margin-left: 15px;
        font-size: 11px;
    }

    .setup-position-three {
        margin-left: 10px;
        font-size: 11px;
    }

    .setup-position-four {
        margin-left: 10px;
        font-size: 11px;
    }

    .setup-position-five {
        margin-left: 20px;
        font-size: 11px;
    }

    .setup-position-six {
        margin-left: 5px;
        font-size: 11px;
    }
}

.cursor-pointer{
    cursor: pointer;
}
.nav-bar-properties{
    background: #f4fcff;
}
.btn-success-custom {
    background-color: #f4fcff;
    background-image: none;
    border-color: #f4fcff;
    border: 2px solid;
    /*border: none !important;*/

}
.btn-success-custom:not(.btn-inverse-light) {
    color: #000033;
    border: 2px solid;
    border-color: #f4fcff;
}

.btn-success-custom:hover{
    color: #ffffff;
    background-color: #f4fcff;
    border-color: #f4fcff;
}
